<div class="container">
    <div class="header">
        <h1> سفارش انلاین غذا</h1>
        <h2>از بهترین رستوران ها و فست فودها</h2>
    </div>
    <div id="p1">
        <p>برای دیدن لیست رستوران ها و فست فودهایی که به شما سرویس میدهند, منطقه خود را وارد کنید</p>
    </div>
    <div class="location-form">
        <form>
            <select class="form-control" style="width: 20%;"> 
                <option value="تهران">تهران</option>
                <option value="ورامین">ورامین</option>
                <option value="کرج">کرج</option>
                <option value="البرز">البر ز</option>
                <option value="دماوند">دماوند</option>
            </select>
            <div class=search-field>
                <div>
                    <label>منطقه خود را وارد کنید</label>
                    <input class="form-control" type="text" value="">
                </div>
            </div>
            <button class="btn btn-primary">جستجو</button>
        </form>
    </div>
</div>