<div id="demo">
    <p>چلو خورشت با برنج</p>
</div>
<div id="demo">
    <p>چلو خورشت با برنج</p>
</div>
<div id="demo">
    <p>چلو خورشت با برنج</p>
</div>
<div id="demo">
    <p>چلو خورشت با برنج</p>
</div>
<div id="demo">
    <p>چلو خورشت با برنج</p>
</div>
<div id="demo">
    <p>چلو خورشت با برنج</p>
</div>
<div id="demo">
    <p>چلو خورشت با برنج</p>
</div>
<div id="demo">
    <p>چلو خورشت با برنج</p>
</div>
<div class="aa">
    <p> fdvfgfhghjgjhgjhj </p>
    <p> fdvfgfhghjgjhgjhj </p>
    <p> fdvfgfhghjgjhgjhj </p>
    <p> fdvfgfhghjgjhgjhj </p>
    <p> fdvfgfhghjgjhgjhj </p>
    <p> fdvfgfhghjgjhgjhj </p>



</div>