.container-fluid {
    width: 50%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 30px;
    padding-bottom: 40px;
    min-width: 350px;
}

.container-fluid #header {
    background-color: blue;
    color: white;
    border: none;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    padding-bottom: 40px;
    text-align: center;
    padding-top: 35px;
}