<div class="container">

    <p style="margin-top: 0;"> مراقبت و محافظت از حساب کاربری ورمز عبور هر کاربر بر عهده کاربر است , ریحون سریعترین راه سفارش انلاین غذا است .</p>


    <div id="aa1">
        <pre>   لیست رستوران ها </pre>

    </div>
    <pre id="aa2"> _________________</pre>
    <pre id="aa3"> اپلیکیشن های موبایل</pre>
    <div id="aa4">
        <form>
            <input type="text"><br/>
            <input type="text"><br/>
            <input type="text">
        </form>
    </div>
    <pre id="aa5">___________________ </pre>
    <h3> پشتیبانی ریحون</h3>
    <h5> سوالات متداول</h5>
    <h5>تماس با پشتیبانی</h5>
    <h5>قوانین و مقررات</h5>
</div>